/* Styles */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, .wrapper {
    height: 100%;
}

body {
    margin: 0;
    font: 16px 'Montserrat', sans-serif;
    color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.header, .footer {
    flex-shrink: 0;
}